@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");

.header {
  display: flex;
  justify-content: space-around;
}
.header-navegacion ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-right: 200px;
}
.header-navegacion ul li {
  display: inline-block;
}
.header-navegacion ul li a {
  display: block;
  margin-right: 40px;
  padding-top: 15px;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  justify-content: space-between;
  font-size: 16px;
}
.header-barra {
  background: #2c2b2a;
  padding: 5px;
}
.logo-header {
  display: flex;
  margin-right: 480px;
}
#main {
  height: calc(100vh - 50px);
  background-image: url("img/foto_main.jpg");
  background-size: cover;
}
.main-content {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}
.main-content-info {
  display: block;
  margin-left: 50px;
}
.main-content-info img {
  margin-top: 60px;
}
.main-content-info h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-size: 700;
  color: white;
}

.main-content-info p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
  margin: 0;
}
.main-content-info button {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  width: 212px;
  height: 64px;
  font-size: 22px;
  color: #2c2b2a;
  background-color: #ffd200;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
}



#nosotros {
  height: calc(100vh - 50px);
  background-color: #ffd200;
  height: 100%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}
.nosotros-content h1 {
  text-align: center;
  font-family: "robot Slab";
  padding-top: 50px;
  font-size: 35px;
  color: #2c2b2a;
  margin-bottom: 30px;
}

.nosotros-content p {
  text-align: center;
  background-image: url(img/cartel_inicio.png);
  background-size: cover;
  width: 50%;
  height: 210px;
  margin: 0 auto;
  
}
.nosotros-content{
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}
.text-nosotros {
  padding-top: 40px;
  width: 50%;
  margin: 0 auto;
}
.img-icon{
  max-width: 1300px;
  height: 100%;
}
.icon{
  max-width: 1300px;
  height: 100%;
  
}
.icon-nosotros  {
  width: 50px;
  padding-top: 40px;
  margin-left: 170px;
  justify-content: center;
  
}
.parrafo-nosotros{
  display: inline-flex;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}
p.parrafo5 {
  margin-left:90px ;
  max-width: 1300px;
}
p.parrafo4 {
margin-left:100px ;
max-width: 1300px;
}
p.parrafo3 {
  margin-left:130px ;
  max-width: 1300px;
}
p.parrafo2 {
  margin-left:130px ;
  max-width: 1300px;
}
p.parrafo1{
  margin-left:130px ;
  max-width: 1300px;
}


.pases{
  background: #00AFA5;
}
.pases-content{
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

.pases-horarios{
  background: #00AFA5;
 
}
.pases-horarios h1 {
  margin-left: 150px;
  color: #F8F1C5;
  font-family: "Roboto", sans-serif;
  font-size: 55px;
}
.pases-horarios h2{
  margin-left: 150px;
  margin-top: 30px;
  color: #F8F1C5;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}
.pases-horarios .pases_4{
  font-family: "Roboto", sans-serif;
  margin-left: 150px;
  font-size: 20px;
  color: #F8F1C5;
}
.pases-horarios .pases_3{
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 150px;
  font-size: 20px;
  color: #F8F1C5;
}
.pases-img button{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
  width: 230px;
  height: 54px;
  font-size: 22px;
  color: #F8F1C5;
  background-color: #9D1980;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  margin-left: 160px;
  
}


#servicios{
  background: #00AFA5;
  
}
#servicios img {
 padding-top: 30px;
 
}
.servicios-content-info h1{
  margin-left: 150px;
  color: #F8F1C5;
  font-family: "Roboto", sans-serif;
  font-size: 55px;
}
.servicios-content-info h3{
  margin-left: 150px;
  color: #F8F1C5;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.card-cumpleaños{
  background: #9D1980;
  margin-left: 150px;
  border-radius: 10px;
}
.card-img-top{
  width: 150px;
  margin-left: 40px;
}


